:root {
    --purple: #9568F4;
    --orange: #EA9F67;
}

body {
    background-color: #282828;
    color: #FFF;

    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-size: 18px;
    
    letter-spacing: 0%;
}

.wrapper {
    max-width: 932px;
    margin: 0 auto;
}

.title {
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    max-width: 800px;
    margin: 0 auto;
}

.section {
  margin-top: 80px;
  margin-bottom: 20px;
}

.dropdowns {
  text-align: center;
}

.purple, .orange {
    font-weight: 700;
    font-style: bold;
    line-height: 68px;
}

.purple {
    background-color: var(--purple);
}

.orange {
    background-color: var(--orange);
}

.quote1 {
    background-image: url("images/quote1.png");
}

.quote2 {
    background-image: url("images/quote2.png");
}

.quote3 {
    background-image: url("images/quote3.png");
}

.quote1:before {
    background-image: url("images/quote1face.svg");
    content: "";
    width: 370px;
    content: " ";
    position: absolute;
    left: -322px;
    top: 60px;
    height: 330px;
}

.quote2:after {
    background-image: url("images/quote1face.svg");
    content: "";
    width: 370px;
    content: " ";
    position: absolute;
    right: -290px;
    top: 60px;
    height: 330px;
}

.quote3:before {
    background-image: url("images/quote1face.svg");
    content: "";
    width: 370px;
    content: " ";
    position: absolute;
    left: -322px;
    top: 60px;
    height: 330px;
}

.quotes {
    height: auto;
    margin-top: 12px;
    margin-bottom: 60px;
}

.quote {
    width: 645px;
    height: 416px;
    display: block;
    position: relative;
    text-align: right;
}

.quote-text {
    max-width: 532px;
    font-weight: 500;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    position: absolute;
    top: 28%;
}

.right {
    margin-right: 0;
    margin-left: auto;
}

.right .quote-text {
    left: 12%;
}

.left .quote-text {
    left: 5%;
}

.microphones {
    display: block;
    background-image: url("images/microphones.png");
    width: 100%;
    height: 209px;
}

.chairs {
    display: block;
    background-image: url("images/chairs.png");
    width: 100%;
    height: 254px;
}

.infographic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.infographic-text {
    max-width: 571px;
    padding: 22px 40px;
    font-weight: 500;
    background-color: rgba(40,40,40,0.8);
    text-align: center;
}

.circles {
    display: flex;
    justify-content: space-between;
    line-height: 28px;
}

.left-col {
    max-width: calc(100% - 600px);
}

.right-col {
    max-width: 600px;
}

.left-col,
.right-col {
    display: inline-block;
}

#festivales-circulo {
  margin: 40px 0 20px 140px;
}

#companias-circulo {
  margin-left: 20px;
}

.title2 {
    height: 133px;
    width: 808px;
}

.interactive-text {
    display: block;
}

.bold-text {
    font-weight: 700;
}

.text-width {
    max-width: 595px;
    line-height: 28px;
}

.centered { 
    margin: 0 auto;
}

.bandas-colores {
    max-width: 814px;
}

.disparidad-geografica {
    width: 355px;
}

.tras-escenarios {
    width: 472px;
}

.call-action {
    width: 877px;
    margin-top: 80px !important;
    margin-bottom: 20px !important;
}

.download {
    width: 100%;
    text-align: center;
    margin: 80px 0 40px 0;
}

.download .dropdown {
    width: 490px;
    max-width: 100%;
}

.download .dropbtn {
    font-size: 28px;
}

.credits {
    text-align: center;
    margin-bottom: 20px;
}

.credits p {
    line-height: 20px;
    margin: 0;
}

.credit {
    font-weight: 700;
    margin-right: 6px;
}

.footer {
    text-align: center;
    padding: 20px 0;
}

.footer-text {
    margin: 0 14px;
}

.footer img {
    vertical-align: middle;
}

/* DROPDOWN */
/* Dropdown Button */
.dropbtn {
    padding: 4px 24px;
    line-height: 150%;
    font-size: 16px;
    border: 1px solid #282828;
    border-radius: 30px;
    cursor: pointer;
    width: auto;
    background-color: #FFF;
    /* background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='28' viewBox='0 0 28 28' width='28' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); */
    background-image: url("images/icons/chevron-down.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 18px);
    background-position-y: 50%;
    background-size: 16px;
  }
  
  .dropbtn svg {
    padding-right: 10px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    margin: 5px 12px 5px 0px;
    position: relative;
    display: inline-block;
    width: 260px;
    font-style: italic;
    color: #282828;
    font-weight: 500;
    text-align: left;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    width: 258px;
    max-height: 360px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1000000;
    overflow: scroll;
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    border-radius: 12px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    font-size: 16px;
    color: #353535;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  .legend {
    font-size: 28px;
    font-style: italic;
    font-weight: 500;
    color: #282828;
    line-height: 28px;
    padding: 10px 12px;
    background-repeat: no-repeat;
  }

  .legend:not(:last-child) {
    margin-bottom: 12px;
  }

  .text-legend {
    font-size: 32px;
    text-transform: uppercase;
    fill: #fff;
    font-style: italic;
  }

  .text-label {
    font-size: 32px;
    text-transform: uppercase;
    fill: #000;
    font-weight: 700;
  }

  .disparidad-legend-item {
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    width: 140px;
    color: #282828;
    font-style: italic;
    padding: 6px 0;
    font-size: 16px;
  }

  .disparidad-norte {
    background-color: #E2F44F;
  }

  .disparidad-latam {
    background-color: #9568F4;
  }

  .disparidad-otros {
    background-color: #FFF;
  }

  .country-label {
    fill: #FFF;
    text-transform: uppercase;
    font-size: 16px;
    font-style: italic;
  }

  .hovered-country {
    font-style: normal;
    font-weight: 700;
  }

  #detras-del-escenario-legend,
  #toma-de-decisiones {
    position: relative;
  }

  .sex-label {
    position: absolute;
    color: #282828;
    font-size: 16px;
    font-style: italic;
    padding: 4px 14px;
    border-radius: 30px;
  }

  .Hombre {
    background-color: #F9D94E;
  }

  .Mujer {
    background-color: #C883E5;
  }

  .toma-legend {
    font-size: 28px;
    text-transform: uppercase;
    fill: #fff;
    font-style: italic;
  }

  .toma-label {
    position: absolute;
    font-size: 16px;
    text-transform: uppercase;
    color: #282828;
    font-weight: 500;
    font-style: italic;
    padding: 4px 14px;
    border-radius: 30px;
    background-color: #C883E5;
  }

  .toma-rect {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../images/viz5/cable.png");
  }

  .bubbles {
    position: relative;
    height: 900px;
  }

  .bubble {
    position: absolute;
    border-radius: 50%;
    line-height: 24px !important;
    color: #282828 !important;
    font-weight: 500 !important;
   
  }

  .bubble-text {
    display: table;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
  }

  .bubble-text p {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }

  .bubble1 {
    width: 322px;
    height: 322px;
    top: 10px;
    left: 20px;
  }
  .bubble2 {
    width: 251px;
    height: 251px;
    top: 50px;
    left: 400px;
  }
  .bubble3 {
    width: 261px;
    height: 261px;
    top: 160px;
    left: 640px;
  }
  .bubble4 {
    width: 302px;
    height: 302px;
    top: 300px;
    left: 220px;
  }
  .bubble5 {
    width: 200px;
    height: 200px;
    top: 400px;
    left: 540px;
  }
  .bubble6 {
    width: 274px;
    height: 274px;
    top: 560px;
    left: 10px;
  }
  .bubble7 {
    width: 200px;
    height: 200px;
    top: 610px;
    left: 400px;
  }

  .pink {
    background-color: #C883E5;
  }

  .green {
    background-color: #E2F44F;
  }

  .yellow {
    background-color: #F9D94E;
  }

  .arriba-del-escenario-wrapper,
  .brecha-paises-wrapper {
    display: inline-flex;
  }

  #arriba-del-escenario-legend,
  #brecha-paises-legend {
    display: inline-block;
    width: 400px;
    margin-top: 30px;
  }

  #arriba-del-escenario,
  #brecha-paises {
    display: inline-block;
    width: 500px;
  }

@media (max-width: 932px) {
  .body {
    font-size: 14px;
  }

  .quote {
    width: 98vw;
    background-image: none;
  }

  .right .quote-text {
    width: 60vw;
    left: 35vw;
    top: 0;
  }

  .quote1::before,
  .quote3::before {
    left: 0;
    top: 0;
    width: 40vw;
    height: 35.6vw;
    background-size: 40vw 35.6vw;
  }

  .left .quote-text {
    width: 60vw;
    left: 0;
    top: 0;
  }

  .quote2::after {
    right: 0;
    top: 0;
    width: 40vw;
    height: 35.6vw;
    background-size: 40vw 35.6vw;
  }

  .microphones,
  .chairs {
    width: 98vw;
    background-size: 100% auto;
  }

  .microphones {
    height: 22vw;
  }

  .chairs {
    height: 26.8vw;
  }

  .infographic-text {
    max-width: 60%;
  }

  .section {
    margin-top: 30px;
    margin-bottom: 12px;
    height: auto;
  }

  .section img,
  .call-action img {
    max-width: 98vw;
    height: auto;
  }

  .bandas-colores img {
    width: 98vw;
    height: 36.5vw;
  }

  .bubbles {
    height: auto;
  }

  .bubble {
    position: relative;
    display: block;
    width: 98vw;
    height: auto;
    color: #FFF !important;
    border-radius: none;
    top: 0;
    left: 0;
  }

  .bubble.purple,
  .bubble.pink,
  .bubble.yellow,
  .bubble.green,
  .bubble.orange {
    background-color: #282828;
  }

  .download .dropbtn {
    font-size: 21px;
  }

  .footer-text {
    margin: 0 4px;
  }

  .footer img {
    height: 5vw;
    max-height: 57px;
  }

  .circles {
    display: block;
  }

  .left-col,
  .right-col {
    display: block;
    position: none;
    width: 98vw;
    max-width: 98vw;
  }

  .festivales,
  .companias {
    display: inline-block;
    width: 45%
  }

  #festivales-circulo {
    margin-left: 10px;
    margin-top: 20px;
  }

  #companias-circulo {
    margin-left: 10px;
    margin-top: 20px;
  }
}